
/* ----------MEDIA QUIERES---------- */

@media screen and (max-width: 1520px){
    li{
        /* white-space: nowrap; */
    }
}

@media screen and (max-width: 1031px) {

    .header ul li {       
        margin-left: 1.25em;
        margin-right: 1.25em;
    }
}

@media screen and (max-width: 1701px) {
    .hero div div h1 {
        font-size: 4em;
    }

    .hero div div p {
        font-size: 1.675rem
    }
}

@media screen and (max-width: 1593px) {
    .hero div div h1 {
        font-size: 3.5em;
    }

    .hero div div p {
        font-size: 1.475rem
    }
}

@media screen and (max-width: 1448px) {
    .hero div div h1 {
        font-size: 3.2em;
    }
}

@media screen and (max-width: 1361px) {
    .hero div div h1 {
        font-size: 3em;
    }

    .hero>div {
        padding: 0;
        margin: 0;
    }

    .hero div div {
        margin-left: 15px;
    }

    .hero div div img {
        width: 55%;
    }
}

@media screen and (max-width: 1304px) {
    .hero div div h1 {
        font-size: 2.7em;
    }

    .video > div .marcovideo div iframe{
        width: 40rem;
        height: 30rem;
    }
}

@media screen and (max-width: 899px){

    .hero>div{
        height: fit-content;
        padding: 10px;
        width: auto;        
    }
    
    
    .cuerpo>div .todasfotos div{
        flex-direction: column;
        justify-content: center;
        width: auto;              
    }

    .cuerpo>div .todasfotos .fotoinver{
        flex-direction: column-reverse;
    }

    .cuerpo>div .todasfotos div .textoancho{
        width: auto;
        text-align: justify;
    }

    .cuerpo>div .todasfotos div div {
        width: auto;
        padding: 5px;        
    }    
}

@media screen and (max-width: 768px){
    .video > div .marcovideo div iframe{
        width: 25rem;
        height: 16.25rem;        
    }
    
    .video > div{
        align-items: center;
    }
    
}

@media screen and (max-width: 715px) {
    #main-tabla {
        width: 20em;
    }
}

@media screen and (max-width: 842px) {

    .header {        
        align-items: flex-start;
    }

    .header ul li {        
        margin: 20px;
    }

    .hero {
        justify-content: flex-start;
    }

    .hero>div {
        flex-direction: column;
    }

    .hero>div{
        height: fit-content;
        padding: 10px;
        width: auto;
    }

    .hero div div {
        width: auto;
    }

    .maps div {
        flex-direction: column;
    }    
}

@media screen and (max-width: 640px) {

    .todasfotos>div {
        flex-direction: column;
        justify-content: center;
        width: auto;
    }

    .todasfotos div div {
        width: auto;
        padding: 5px;
    }    

    .contacto > div div .formu div .form-register {
        width: 20em;
    }

    .marcotabla > div #main-tabla table{
        width: fit-content;        
    }

    .marcotabla > div #main-tabla{
       width: 0%;
    }

    .contacto > div .formu div .form-register{
        width: 20em;
    }
}

@media screen and (max-width: 500px){
    .hero > div{
        height: fit-content;
        width: auto;        
    }    
}

@media screen and (max-width: 265px){
    .hero > div{
        height: fit-content;
        padding: 30px;
        width: auto;
    }
}

@media screen and (max-width: 450px){
    .video > div .metodologia{
        width: auto;
    }    

    .video > div .metodologia h2{
        flex-wrap: wrap;  
        width: auto;     
    }
    
    .video > div .marcovideo div iframe{
        width: auto;
    }   
}

@media screen and (max-width: 412px){
    .video > div .metodologia h2{
        flex-wrap: wrap;
        font-size: 20pt;
    }    
}

/* ----------MEDIA QUIERES PARA SECTION HERO---------- */

@media screen and (max-width: 800px){
    .hero .absolute .titulovideo{
        font-size: 3.125rem;
    }
}

@media screen and (max-width: 534px){
    .hero .absolute .titulovideo{
        font-size: 1.875rem;
        margin-bottom: 0;
    }
    
    .video > div .marcovideo div iframe{
        width: auto;
        height: auto;      
    }
}

@media screen and (max-width: 430px){ 
    .video > div .marcovideo div iframe{
        width: 15rem;
        height: 9.25rem;      
    }
    
    .marcotabla > div{
        padding: 1.125em;;
    }

    .contacto > div .formu div .form-register{
        width: 16em;
    }
}

@media screen and (max-width: 470px){
    .frames > div .contenedor div iframe{
        width: 15.125em;
        height: 15.125em;
    }   
}

@media screen and (max-width: 390px){
    .frames > div .contenedor{
        width: 80%;
        height: auto;
    }

    .maps div div iframe{
        width: 100%;
        height: 120px;
    }

    .maps div div{
        height: auto;
    }
}
