$color-rojo: red;
$color-verde: rgb(51, 255, 0);
$color-gris: rgb(144 149 161 / 20%);


//----------MIXINS----------//

@mixin palabras($grosor, $tamaño) {
    font-weight: $grosor;
    font-size: $tamaño;
}


//..........MAPS..........



